<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | PetCare</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    {% include "partials/navbar.html" %}

    <div class="dashboard-container">

        <h1>Welcome to PetCare Dashboard</h1>

        <p class="dashboard-text">
            Manage your pets, appointments,
            adoption activities, and pet services.
        </p>

        <div class="card-container">

            <div class="dashboard-card">
                <h2>My Pets</h2>
                <p>View and manage your pets.</p>
                <a class="dashboard-button" href="{{ url_for('pet.pets') }}">Open Pets</a>
            </div>

            <div class="dashboard-card">
                <h2>Appointments</h2>
                <p>Track upcoming appointments.</p>
            </div>

            <div class="dashboard-card">
                <h2>Community</h2>
                <p>Connect with pet lovers.</p>
            </div>

            <div class="dashboard-card">
                <h2>Services</h2>
                <p>Explore pet care services.</p>
            </div>

        </div>

    </div>

</body>
</html>