<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | PetCare</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

    <nav class="dashboard-navbar">

        <div class="logo">
            PetCare
        </div>

        <ul class="dashboard-links">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">Logout</a></li>
        </ul>

    </nav>

    <div class="reset-wrapper">

        <div class="reset-card">

            <h1>Reset Password</h1>

            <p class="reset-text">
                Update your password securely.
            </p>

            <form method="POST">

                <input type="email"
                placeholder="Enter your email"
                required>

                <input type="password"
                placeholder="New Password"
                required>

                <input type="password"
                placeholder="Confirm Password"
                required>

                <button type="submit">
                    Reset Password
                </button>

            </form>

        </div>

    </div>

</body>
</html>