{% extends "base.html" %}

{% block content %}
<div class="profile-wrapper">
    <div class="reset-card">
        <h1>Reset Password</h1>
        <p class="reset-text">Update your password securely to keep your account safe.</p>

        <form method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <input type="password" name="new_password" placeholder="New Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <button class="profile-btn" style="width: 100%;" type="submit">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}